Source: argon1
Section: admin
Priority: optional
Maintainer: Spiros Papadimitriou <spapadim@gmail.com>
Build-Depends:
 debhelper-compat (= 12),
 dh-exec,
 dh-sysuser,
 dh-python,
 python3-all,
 python3-setuptools,
 lxpanel-dev
VCS-Git: https://github.com/spapadim/argon1.git
VCS-Browser: https://github.com/spapadim/argon1
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/spapadim/argon1

Package: argon1
Architecture: all
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 lsb-base,
 ${misc:Depends},
 ${python3:Depends},
 python3-rpi.gpio,
 python3-smbus,
 python3-yaml,
 python3-dbus
Suggests: 
 rsyslog,
 python3-psutil
Description: Alternative implementation for Argon One case fan and power control
 This is an alternative implementation for fan and power control of
 the Argon One Raspberry Pi case. 
 .
 This is a personal mini-project; it is not affiliated in any way with Argon40,
 nor endorsed or supported by them.

Package: lxplug-argon1
Architecture: armhf
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 lsb-base,
 ${misc:Depends},
 ${shlibs:Depends},
 lxpanel,
 argon1
Description: LXPanel plugin for Argon One fan control service
 An LXPanel plugin for the alternative implementation of fan and power control
 service for the Argon One Raspberry Pi case. It displays current fan speed,
 and allows authorized users to pause or resume temperature-based control.
 .
 This is a personal mini-project; it is not affiliated in any way with Argon40,
 nor endorsed or supported by them.

